* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    --color1: #145e5e;
    /* #145e5e */
    --color2: azure;
}

/* body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    background: #f9f9f9;

} */

/* HEADER */

hr {
    margin-left: 6%;
    margin-right: 6%;
}

.home-title {
    color: var(--color2);
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    transition: .5s;
}

.home-title:hover {
    color: var(--color2);
    font-size: 62px;
    text-shadow: 7px 3px var(--color1);
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/home/estudiantes.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header a {
    text-decoration: none;
}

.header p {
    color: rgb(213, 225, 222);
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    /*ocupa todo el espacio en el row */
    text-align: right;
}

.nav-links ul li {
    /*estructura*/
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li::after {
    /*efecto underline del nav*/
    content: '';
    width: 0%;
    height: 3.5px;
    background: var(--color2);
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after {
    /*efecto underline del nav*/
    width: 100%;
}

.nav-links ul li a {
    /*diseño*/
    color: var(--color2);
    text-decoration: none;
    font-size: 19px;
}

.text-box {
    width: 90%;
    color: var(--color2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 17px;
    color: var(--color2);
}

.hero-buton {
    display: inline-block;
    text-decoration: none;
    color: var(--color2);
    border: 1px solid var(--color2);
    padding: 12px 34px;
    font-size: 15px;
    /* background: transparent;
    position: relative; */
    cursor: pointer;
}

.hero-buton:hover {
    border: 1px solid var(--color1);
    background: var(--color1);
    transition: .7s;
}

.sub-header {
    height: 15vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/home/estudiantes-frustrados.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--color2);
}

.sub-header a {
    text-decoration: none;
}

.sub-header h1 {
    margin-top: 100px;
}

/* header {
    background-color: #69A682;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container-navbar {
    width: 100%;
    height: 60px;
    padding: 0px 20px;
}

.menu {
    max-width: 1200px;
    height: 100%;
}

nav {
    height: 100%;
}

.nav-links {
    display: flex;
} */

/* .logo {
    line-height: -20px;
} */

/* .logo>img {
    margin-top: -8px;
} */

/* nav>ul {
    height: 100%;
    align-items: center;
    display: flex;
}

nav>ul>li {
    height: 100%;
    list-style: none;
    position: relative;
    align-items: center;
    display: inline-block;
}

nav>ul>li>a {
    height: 35%;
    display: block;
    padding: 14px 1.5rem;
    color: #FFFFFF;
    transition: all 0.2s linear;
    border-radius: 5px;
}

nav>ul>li>a:hover {
    color: #69A682;
    background: #CDDFD4;
    height: 35%;
    padding: 14px 2rem;
} */

/* MAIN */

main {
    margin: 120px;
}

/* HOME */

/* SLIDER */
.container-home {
    align-items: center;
}

.slider-frame {
    width: 1000px;
    height: 600px;
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 8px 8px 8px 8px;

}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;



    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;

}

.slider-frame img {
    width: 100%;
    border-radius: 8px 8px 8px 8px;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/*NEWS*/

.news-title {
    padding-left: 15px;
    padding-top: 15px;
}

.news-frame {
    width: 1000px;
    height: 640px;
    margin: 50px auto 0;
    border-radius: 8px;
    box-shadow:
        0 0 0 1px rgb(53 72 91 / 7%),
        0 2px 2px rgb(0 0 0 / 1%),
        0 4px 4px rgb(0 0 0 / 2%),
        0 10px 8px rgb(0 0 0 / 3%),
        0 15px 15px rgb(0 0 0 / 3%),
        0 30px 30px rgb(0 0 0 / 4%)
}

.news-scroll {
    overflow: auto;
    height: 580px;
}

.selected :hover {
    background: #CDDFD4;
    border-radius: 8px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 15px;
}

.col-1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.col-1 :hover {
    background: #CDDFD4;
    border-radius: 0px;
    cursor: pointer;
}

.col-2 {
    grid-column: 2 / 4;
    grid-row: 1;
}

.news-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #516f90;
}

.news-scroll::-webkit-scrollbar:vertical {
    width: 10px;
}

.news-scroll::-webkit-scrollbar-button:increment,
.news-scroll::-webkit-scrollbar-button {
    display: none;
}

.news-scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}

.news-scroll::-webkit-scrollbar-thumb {
    background-color: #213343;
    /* border-radius: 20px; */
}

.news-scroll::-webkit-scrollbar-track {
    /* border-radius: 10px; */
}


/* FOOTER */

.hsg-footer {
    background-color: #213343;
    color: #fff;
}

.hsg-footer__copyright li {
    display: inline-block;
}

.hsg-footer__copyright li a {
    display: block;
    padding: 0.5rem 1rem;
}

.hsg-footer {
    padding: 3rem 2rem;
    transition: all 0.3s ease;
}

.hsg-footer__contact-links {
    box-sizing: content-box;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    position: relative;
    text-align: center;
}

.hsg-footer__contact-links::before,
.hsg-footer__contact-links::after {
    width: 33%;
    position: absolute;
    content: '';
    border-top: 1px solid #7691ad;
    top: 50%;
}

.hsg-footer__contact-links::before {
    right: 0;
}

.hsg-footer__contact-links::after {
    left: 0;
}

/* .hsg-footer__contact-links.social-cl .hsg-footer__social {
    display: flex;
    justify-content: center
}

@media (min-width: 928px) {

    .hsg-footer__contact-links.social-cl::before,
    .hsg-footer__contact-links.social-cl::after {
        width: 29%
    }
} */

.hsg-footer__social {
    width: 100%;
    position: relative;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hsg-footer__social li {
    display: inline-block;
    margin: 0 1em;
}

.hsg-footer__social li a {
    display: block;
    padding: 0.75rem 0;
    text-decoration: none;
}

.hsg-footer__social li a span {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.hsg-footer__social li a .cl-icon {
    height: 23px;
    width: 26px;
    fill: #b6c7d6;
}

.hsg-footer__bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0;
    flex-direction: column;
}

.hsg-footer__logo {
    order: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.hsg-footer__logo img {
    display: block;
    max-width: 100px;
    margin-bottom: 8px;
}

.hsg-footer__logo p {
    color: #516f90;
    font-size: 0.75rem;
    line-height: 1.67;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.875em;
    color: #b6c7d6;
    margin-bottom: 8px;
}

.hsg-footer__copyright ul {
    position: relative;
    text-align: center;
}

.hsg-footer__copyright ul>li {
    position: relative;
}

.hsg-footer__copyright ul>li::after {
    display: inline-block;
    font-size: 0.75em;
    color: #7691ad;
    position: absolute;
    content: '|';
    top: 29%;
    right: -0.25em;
}

.hsg-footer__copyright ul>li:last-of-type::after {
    content: '';
}

.hsg-footer__copyright a {
    font-size: 0.875rem;
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
}

/* .hsg-footer {
    background-color: #213343;
    color: #fff;
    transition: all 0.3s ease;
    padding: 3rem 2rem;
}

.hsg-footer__contact-links {
    box-sizing: content-box;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    text-align: center;
}

.hsg-footer__contact-links::before, .hsg-footer__contact-links::after {
    width: 29%;
    right: 0;
    position: absolute;
    content: '';
    border-top: 1px solid #7691ad;
    top: 50%;
    border: 0;
}

.hsg-footer__social {
    width: 100%;
    position: relative;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hsg-footer__bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0;
    flex-direction: column;
}

.hsg-footer__logo {
    order: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
} */

/* footer{
    text-decoration: none;
    list-style: none;
}

.menu-footer{
    background-color: #69A682;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: -14px;
    left: 0;
}

.menu-footer>ul{
    display: flex;
    padding: 15px;
}

.menu-footer>ul>li{
    padding: 15px;
}

a{
    color:#FFFFFF;
} */



/* EVENTOS */

.div-title {
    margin: 20px;
    margin-top: -60px;
    text-align: center;
}

.title {
    font-size: 58px;
    font-style: italic;
}

.h1-eventos {
    margin-top: 50px;
}

.h1-eventos::after {
    /* width: 1500px;
    position: absolute; */
    font-size: 25px;
    content: ' >';
    /* border-top: 1px solid #000;
    right: 10%;
    margin-top: 20px; */
}

/* .h1-eventos a {
    color: #000000;
} */

.a-eventos {
    color: #000000;
}

.a-eventos::after {
    font-size: 25px;
    content: ' >';
}

.card {
    padding: 20px;
    position: relative;
    transition: 0.3s ease-in-out;
    font-size: 16px;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    padding: var(--gap);
    background: var(--entry);
    border-radius: 8px;
    box-shadow:
        0 0 0 1px rgb(53 72 91 / 7%),
        0 2px 2px rgb(0 0 0 / 1%),
        0 4px 4px rgb(0 0 0 / 2%),
        0 10px 8px rgb(0 0 0 / 3%),
        0 15px 15px rgb(0 0 0 / 3%),
        0 30px 30px rgb(0 0 0 / 4%),
        0 70px 65px rgb(0 0 0 / 5%);
}

.container-eventos{
  position: relative;
  display: grid;
  grid-template-columns: 340px 340px 340px 340px 340px;
  row-gap: 10px;
}

.container-eventos .card{
  position: relative;
  width: 300px;
  height: 430px;
  background-position: center;
  background-size: contain;
  border-radius: 20px;
  overflow: hidden;
}

.container-eventos .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.container-eventos .card:hover:before{
  clip-path: polygon(0 57%, 100% 57%, 100% 100%, 0% 100%);
  background: #000000;
  opacity: 70%;
}

.container-eventos .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container-eventos .card:hover .contentBx{
  height: 145px;
}

.container-eventos .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container-eventos .card .contentBx .size, .container-eventos .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container-eventos .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  /* transition-delay: 0.5s; */
}

.container-eventos .card .contentBx .size h3, .container-eventos .card .contentBx .color h3{
  color: #CDDFD4;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container-eventos .card .contentBx .size span{
  width: 50px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #CDDFD4;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container-eventos .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #CDDFD4;
  border-radius: 4px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.container-eventos .card .contentBx a:hover{
  background-color: #9bdc28;
  transition:height .5s ease-out 0s;
}

.container-eventos .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  /* transition-delay: 0.75s; */
}