@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    --color1: #f5f6f0;
    --color2: #39444d;
    --color3: #8e877c;
    --color4: #607078;
    --color5: #b6c7d6;

    text-decoration: none;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: var(--color1);
}

*::-webkit-scrollbar:vertical {
    width: 10px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color3);
    /* border-radius: 20px;*/
}

body {
    background: var(--color1);

}

/* HEADER */

hr {
    margin-left: 6%;
    margin-right: 6%;
}

.home-title {
    color: var(--color1);
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    transition: .5s;
}

.home-title:hover {
    color: var(--color1);
    font-size: 60px;
    text-shadow: 5px 3px var(--color3);
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(57, 68, 77, 0.8), rgba(57, 68, 77, 0.8)), url(images/home/estudiantes.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header a {
    text-decoration: none;
}

.header p {
    color: var(--color1);
}

nav {
    height: 100%;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3.5px;
    background: var(--color1);
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li a {
    color: var(--color1);
    text-decoration: none;
    font-size: 19px;
}

.text-box {
    width: 90%;
    color: var(--color1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 17px;
    color: var(--color1);
}

.hero-buton {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    border: 1px solid var(--color1);
    padding: 12px 34px;
    font-size: 15px;
    cursor: pointer;
}

.hero-buton:hover {
    border: 1px solid var(--color3);
    background: var(--color3);
    transition: .7s;
}

.sub-header {
    height: 15vh;
    width: 100%;
    background-image: linear-gradient(rgba(57, 68, 77, 0.9), rgba(57, 68, 77, 0.9)), url(images/home/estudiantes-frustrados.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--color1);
}

.sub-header a {
    text-decoration: none;
}

.sub-header h1 {
    margin-top: 100px;
}

/* MAIN */

main {
    margin: 120px;
    margin-bottom: 60px;
    padding: 0px 70px;
}

/* HOME */

.container-home {
    margin: -120px -190px 0 -190px;
    /* margin: -80px -140px 0 -140px; */
    grid-template-columns: 50% 50%;
    position: relative;
    display: grid;
    /* row-gap: 80px; */
}

.col-home {
    height: 460px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.col-home span {
    padding: 15px;
    text-align: justify;
    color: var(--color2);
}

.img-home {
    width: 100%;
    height: 100%;
}

.separator-home {
    background: var(--color3);
    color: var(--color1);
    height: 100px;
    width: 1910px;
    margin: 0 -190px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.separator-home p {
    width: 50%;
}

.promos {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.promo {
    width: 250px;
    background: #39444d;
    color: #f5f6f0;
    float: left;
}

.deal {
    padding: 10px 0 0 0;
}

.deal span {
    display: block;
    text-align: center;
}

.deal span:first-of-type {
    font-size: 23px;
}

.deal span:last-of-type {
    font-size: 13px;
}

.promo .price {
    display: block;
    width: 250px;
    background: #8e877c;
    margin: 15px 0 10px 0;
    text-align: center;
    font-size: 23px;
    padding: 17px 0 17px 0;
}

.text-prices {
    display: block;
    margin: 20px 0 10px 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    color: #f5f6f0;
}

.button-prices {
    border: none;
    border-radius: 40px;
    background: #8e877c;
    color: #f9f9f9;
    padding: 10px 37px;
    margin: 10px 0 20px 60px;
}

.scale {
    transform: scale(1.2);
    box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
}

/* .scale button {
    background: #f5f6f0;
  }
  .scale .price {
    color: #f5f6f0;
  } */

.table-home {
    width: 100%;
    margin-top: 15px;
}

.table-home th {
    background-color: var(--color3);
}

.table-home,
th,
td {
    border: 1px solid var(--color2);
    border-collapse: collapse;
    text-align: center;
}

/* 
SLIDER 
.container-home {
    align-items: center;
}

.slider-frame {
    width: 1000px;
    height: 600px;
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 8px 8px 8px 8px;

}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;



    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;

}

.slider-frame img {
    width: 100%;
    border-radius: 8px 8px 8px 8px;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/*NEWS

.news-title {
    padding-left: 15px;
    padding-top: 15px;
}

.news-frame {
    width: 1000px;
    height: 640px;
    margin: 50px auto 0;
    border-radius: 8px;
    box-shadow:
        0 0 0 1px rgb(53 72 91 / 7%),
        0 2px 2px rgb(0 0 0 / 1%),
        0 4px 4px rgb(0 0 0 / 2%),
        0 10px 8px rgb(0 0 0 / 3%),
        0 15px 15px rgb(0 0 0 / 3%),
        0 30px 30px rgb(0 0 0 / 4%)
}

.news-scroll {
    overflow: auto;
    height: 580px;
}

.selected :hover {
    background: var(--color1);
    border-radius: 8px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 15px;
}

.col-1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.col-1 :hover {
    background: #CDDFD4;
    border-radius: 0px;
    cursor: pointer;
}

.col-2 {
    grid-column: 2 / 4;
    grid-row: 1;
}
*/

/* .news-scroll::-webkit-scrollbar-track {
    /* border-radius: 10px; 
}  */


/* FOOTER */

.footer {
    background-color: var(--color2);
    color: var(--color1);
}

.footer-copyright li {
    display: inline-block;
}

.footer-copyright li a {
    display: block;
    padding: 0.5rem 1rem;
}

.footer {
    padding: 3rem 2rem;
    transition: all 0.3s ease;
}

.footer-contact-links {
    box-sizing: content-box;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    position: relative;
    text-align: center;
}

.footer-contact-links::before,
.footer-contact-links::after {
    width: 33%;
    position: absolute;
    content: '';
    border-top: 1px solid var(--color5);
    top: 47%;
}

.footer-contact-links::before {
    right: 0;
}

.footer-contact-links::after {
    left: 0;
}

.footer-social {
    width: 100%;
    position: relative;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-social li {
    display: inline-block;
    margin: 0 1em;
}

.footer-social li a {
    display: block;
    padding: 0.75rem 0;
    text-decoration: none;
}

.footer-social li a span {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.footer-social li a .cl-icon {
    height: 23px;
    width: 26px;
    fill: var(--color5);
}

.footer-bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0;
    flex-direction: column;
}

.footer-logo {
    order: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.footer-logo img {
    display: block;
    max-width: 100px;
    margin-bottom: 8px;
}

.footer-logo p {
    font-size: 0.75rem;
    line-height: 1.67;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.875em;
    color: var(--color5);
    margin-bottom: 8px;
}

.footer-copyright ul {
    position: relative;
    text-align: center;
}

.footer-copyright ul>li {
    position: relative;
}

.footer-copyright ul>li::after {
    display: inline-block;
    font-size: 0.75em;
    color: var(--color5);
    position: absolute;
    content: '|';
    top: 29%;
    right: -0.25em;
}

.footer-copyright ul>li:last-of-type::after {
    content: '';
}

.footer-copyright a {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--color1);
    text-decoration: underline;
}

/* EVENTOS */

.div-title {
    margin: 20px;
    margin-top: -60px;
    text-align: center;
}

.title {
    font-size: 58px;
    color: var(--color2);
}

.h1-eventos {
    margin-top: 50px;
}

.h1-eventos::after {
    font-size: 25px;
    content: ' >';
    color: var(--color2);
}

.a-eventos {
    color: var(--color2);
}

/* .card {
    padding: 20px;
    position: relative;
    transition: 0.3s ease-in-out;
    font-size: 16px;
    margin-top: 100px; */
    /* margin-bottom: 100px; */
    /* padding: var(--gap);
    background: var(--entry);
    border-radius: 8px;
    box-shadow:
        0 0 0 1px rgb(53 72 91 / 7%),
        0 2px 2px rgb(0 0 0 / 1%),
        0 4px 4px rgb(0 0 0 / 2%),
        0 10px 8px rgb(0 0 0 / 3%),
        0 15px 15px rgb(0 0 0 / 3%),
        0 30px 30px rgb(0 0 0 / 4%),
        0 70px 65px rgb(0 0 0 / 5%);
} */

.container-eventos {
    position: relative;
    display: grid;
    grid-template-columns: 260px 260px 260px 260px 260px 260px;
    row-gap: 10px;
}

.container-eventos .card {
    position: relative;
    width: 220px;
    height: 320px;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
    overflow: hidden;
}

.container-eventos .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(0px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container-eventos .card:hover:before {
    clip-path: polygon(0 57%, 100% 57%, 100% 100%, 0% 100%);
    background: var(--color4);
    opacity: 90%;
}

.container-eventos .card .contentBx {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container-eventos .card:hover .contentBx {
    height: 90px;
}

.container-eventos .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color1);
    margin: 0;
}

.container-eventos .card .contentBx .size {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.container-eventos .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
}

.container-eventos .card .contentBx .size h3 {
    color: var(--color1);
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container-eventos .card .contentBx .size span {
    width: 50px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    display: inline-block;
    color: var(--color2);
    background: var(--color1);
    margin: 0 5px;
    transition: 0.5s;
    color: var(--color2);
    border-radius: 4px;
    cursor: pointer;
}

.container-eventos .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: var(--color1);
    border-radius: 4px;
    margin-top: 15px;
    text-decoration: none;
    font-weight: 600;
    color: var(--color2);
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container-eventos .card .contentBx a:hover {
    background-color: var(--color1);
    transition: height .5s ease-out 0s;
}

.container-eventos .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
}