/* ENTRETENIMIENTO */

.div-title{
    margin: 20px;
    text-align: center;
}

.title{
    font-size: 58px;
    font-style: italic;
}

.card{
    padding: 20px;
    position: relative;
    transition: 0.3s ease-in-out;
    font-size: 16px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: var(--gap);
    background: var(--entry);
    border-radius: 8px;
    box-shadow: 
        0 0 0 1px rgb(53 72 91 / 7%), 
        0 2px 2px rgb(0 0 0 / 1%), 
        0 4px 4px rgb(0 0 0 / 2%),  
        0 10px 8px rgb(0 0 0 / 3%), 
        0 15px 15px rgb(0 0 0 / 3%), 
        0 30px 30px rgb(0 0 0 / 4%), 
        0 70px 65px rgb(0 0 0 / 5%);
}